/*
*
* General page settings & styles 
*
*/

/*
* Color palette: 
* http://colorschemedesigner.com/#3N11T9p--zcXN
*/

/* Body */
body {
	background: white;
}

/* Page Margins */
.pageMargin {
	width: auto;
	min-width: 500px;
	max-width: 60em;
	background: #F5F8FF;
	margin: 0 auto;
}

/* Page */
.page {
	padding: 0px;
	border: 2px #34509D solid;
}

/* Header */
.header {
	padding: 0px;
	margin: 0 auto;
	border-top: 1px #34509D solid;
}

/* Content */
.content {
	padding: 0px;
	margin: 0 auto;
	border-top: 1px #34509D solid;
}

/* Footer */
.footer {
	text-align: center;
	margin: 0 auto;
	padding: 0px;
	border-top: 2px #34509D solid;
}

/* various elements */
h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	margin: 5px auto;
	text-align: center;
}

.boldText {
	font-weight: bold;	
}

.alignCenter {
	margin-right: auto;
	text-align: center;
}

/*
*
* Individual containers/elements styles
*
*/

/* Title */
#title {
	background: #34509D;
	color: white;
	padding: 5px;
}


/* Logo */
#logo {
	/* display: none; */
	text-align: center;
	margin: 0 auto;
	padding: 0px;
	background: white;
}

#logo img {
	height: 150px;
}

/* Main Menu */
#mainMenu {
	text-align: center;
	margin: 0 auto;
	padding: 0px;
	border-top: 1px #34509D solid;
	background: #969FB9;
}

.mainMenu {
	text-align: center;
	margin: 0 auto;
	padding: 0px;
	/* border: 1px black dotted; */
	font-weight: bold;
	background: #969FB9;
}
.mainMenu td {
	padding-left: 2px;
}

/* Visualization */
#visualization {
	text-align: center;
	margin: 0 auto;
	padding: 5px 0px 5px 0px;
}

#visualizationTitle {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 5px 0px 5px 0px;
	font-weight: bold;
}

#visualizationContent {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 5px 0px 5px 0px;
	/* border: 1px #34509D dotted; */	
}

.visualizationContent {
	text-align: center;
	margin: 0 auto;
	padding: 5px 0px 5px 0px;
	min-height: 250px;	
}

.visualizationContentTable {
	margin: 0 auto;
	padding: 5px;
	border-collapse: collapse;
	border: 1px #34509D solid;	
}

.visualizationContentTable td {
	margin: 2px auto;
	padding: 2px;
	border: 1px #34509D dotted;	
}

.visualizationContentGraphical {
	margin: 0 auto;
	padding: 5px 0px 5px 0px;	
}

#visualization img {
	/* add style */
	}

#visualizationMenu {
	/* display: block; */
	display: none;
	text-align: center;
	margin: 0 auto;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px #34509D dotted;
}

.visualizationMenu {
	text-align: center;
	margin: 0 auto;
	padding: 5px;
	
}

/* Comments */
#commentBox {
	display: none; /* block; */
	text-align: center;
	margin: 0 auto;
	padding: 2px; 
}

#commentText {
	float: left;
	display: none; /* inline; */
	/* use full width until picture implementation is done */
	/* width: 50%; */
	width: 100%;
}

#commentTextTitle {
	display: none; /* block; */
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	color: black;
}

#commentTextBox {
	display: block;
	text-align: left;
	margin: 0 0;
	padding: 2px;
}

.commentTextBox {
	display: block;
	text-align: left;
	margin: 0 0;
	padding: 2px;

}

.commentTextSingle {
	display: block;
	overflow: auto;
	text-align: left;
	padding: 2px;
	margin: 1px;
	border: 1px #3d85c6 dotted;	
}

#commentPictures {
	/* hide picture comments until implementation is done */
	margin-left: 50%;
	display: none;
}

#commentPicturesTitle {
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	color: black;
}

#commentPicturesBox {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 2px;
}

#commentPicturesBox img {
	height: 100px;
}

/* Comments menu */
#commentsMenu {
	clear: both;
	text-align: center;
	margin: 0 auto;
	padding: 2px;
	border-top: 1px black solid;
}

.commentsMenu {	
	text-align: center;
	margin: 0 auto;
	padding: 2px;
}